body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./assets/img1.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}
header{

    background-color: rgb(214, 166, 45);
    width: 100vw;
    height: 150px;

    }

header ul{
    display: flex;
   }
    header h2{
        margin-left: 20px;
    }

    header a{

        text-decoration: none;
        color:var(--p-color1);
        font-weight: bold;
        font-size: 25px;
        text-shadow: 1px 1px 1px;
        margin-bottom: 20px;

    }

    header  ul li a:hover{
color: var(--color2);
border-top: 2px solid black;


    }
 header ul li {
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 300px;
    padding-bottom: 10px;
width: 7%;
padding-bottom: 5px;
color: var(--p-color1);
font-size: var(--font-size);

}
.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 70px;
}
.productos{
    width: 30%;

    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start; */

}
.imgConFondo{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

/* colores y fuentes */
:root{
--p-color1: #fff;
--color2:#000;
--font-size1: 40px;
--font-size:25px;
--font-family: Roboto
}

/* css definitivo */
p{
    background: transparent;
    color: var(--p-color1);
    font-size: var(--font-size);
}
h3{
    color: var(--p-color1);
    font-size: var(--font-size1);
}

.lista{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    padding-bottom: 10px;

    padding-bottom: 5px;
    color: var(--p-color1);
    font-size: var(--font-size);
}