body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.extraVida{
    margin: auto;
    display: flex;
    width: 500px;
    height: 430px;
}
.extraVida img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease-out;
}
.extraVida img:hover{

width: 300px;
opacity: 1;
filter: contrast(120%);
}
