body{
    background-image: linear-gradient(to top, #d0ad30 0%, #673c08 100%);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;


}
h1{
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.containerSlider{
    display: flex;
width: 100%;
height: 530px;

backdrop-filter: blur(10px);



}
.containerSlider button{
    border: none;
    background: transparent;
}
  .slider img{
    width: 100%;
    height: 430px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    position: sticky;
    object-fit: cover;
    scroll-snap-align: center;
    
 
 }
 .slider{
width: 80%;
height: 400px;
margin: auto;
transition: 0.5s ease;


 }

 footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
        width: 100vw;
        height: 250px;
    
    }
    footer a{
        margin: 20px;
    }
    footer img:hover{
    
        transform: translateY(-10px);
        transition: .3s ;
    }

 :root{
    --p-color1: #fff;
    --color2:#000;
    --font-size1: 40px;
    --font-size:25px;
    }
    #ch1{
        border-radius: 50px;
    }